@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	color: #202020;
}

.top{
	margin-top: 16px;
}

.left{
	margin-left: 30px;
}

.bold{
	font-weight: bold;
}

.sizes{
	flex: auto;
	min-width: 750px;
	max-width: 1170px;
}

body{
	background-color: #725956;
}

header{
	justify-content: center;
	display: flex;
}

header > div > h1 {
	font-family: "Press Start 2P", system-ui;
	font-size: 4rem;
	text-align: center;
	margin: 10px auto 60px;
	color: #f6cd26;
}

nav > ul > li {
	display: inline;
}



main {
	justify-content: center;
	display: flex;
}

main > div {
	background-color: #fff6d3;
	position: relative;
	top: -110px;
	border-radius: 1rem;
	box-shadow: 0 0 20px rgb(0, 0, 0, 50%);
}

main > div > section {
	padding: 25px;
}

img{
	width: 600px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	font-family: "Press Start 2P", system-ui;
	display: block;
	text-align: center;
	font-size: 2rem;
	margin-bottom: 10px;
}

main li{
	list-style-type: none;
}

nav {
	display: flex;
	margin: auto;
	margin-bottom: 140px;
}

a{
	font-family: "Press Start 2P", system-ui;
	border-radius: 25px;
	background: #f6cd26;
	padding: 5px 10px;
	margin: 4px;
	font-size: 24px;
	display:inline-block;
	width: fit-content;
	text-decoration: none;
	color: black;
	
}